/* GLOBAL */

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    font-family: Verdana, Arial, Tahoma, sans-serif;
}

img {
    height: auto;
    width: 310px;
}

/* GLOBAL */

/* index.html - GENERAL */

.recipe-image-holder {
    display: flex;
}

.recipe-image-holder > a {
    flex: 33.33%;
    padding: 5px;
    display: flex;
}

.recipe-image-holder > a > img {
    height: auto;
    width: 100%;
}

a {
    font-weight: bold;
}

a:hover {
    background-color: rgb(126, 218, 218);
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:active {
    text-decoration: none;
}

/* index.html - GENERAL */

/* Recipes - GENERAL */

.recipe-description {
    background-color: rgb(169, 169, 230);
}

li.recipe.recipe-ingredients {
    display: block;
    margin-bottom: 1%;
    width: 49%;
    float: left;
}

li.recipe.recipe-ingredients:nth-child(odd) {
    background: pink;
    font-weight: bold;
}

/* Recipes - GENERAL */